image: python:3.12

stages:
  - test
  - linters

before_script:
  - python -m pip install --upgrade pip
  - pip install -r requirements.txt

unittest:
  stage: test
  script:
    - pytest fast_api_app/

mypy:
  stage: linters
  script:
    - mypy fast_api_app/

black:
  stage: linters
  script:
    - black --diff --check fast_api_app/

isort:
  stage: linters
  script:
    - isort --check-only --diff fast_api_app/

flake8:
  stage: linters
  script:
    - flake8 fast_api_app/